
*.properties

*.lock

*.bin

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/libraries/appcompat_v7_20_0_0.xml

.idea/libraries/commons_codec_1_6.xml

.idea/libraries/fastjson_1_1_27_android.xml

.idea/libraries/support_annotations_20_0_0.xml

.idea/libraries/support_v4_20_0_0.xml

.idea/libraries/universal_image_loader_1_9_2_with_sources.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

app/app.iml

app/app.iml

app/app.iml

build/intermediates/dex-cache/cache.xml
