<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chendeji.rongchen"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.read_logs" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme" >

        <!-- <activity android:name=".ui.RecycleViewDemoActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".ui.merchant.MerchantListActivity"
            android:label="@string/merchant_list_activity_title" />
        <activity
            android:name=".ui.merchant.MerchantDetailActivity"
            android:label="@string/title_activity_merchant_detail" />
        <activity
            android:name=".ui.deal.DealDetailActivity"
            android:label="团购详情" />

        <!-- 高德地图的debug-key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="53eab95e819e8a76b1def54b6def6609" />
        <!-- 高德地图的release-key -->
        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="18cff9bcbb3808a46f56a40965998cde" /> -->


        <!-- 百度地图的key -->
        <!-- <meta-data -->
        <!-- android:name="com.baidu.lbsapi.API_KEY" -->
        <!-- android:value="aG5UpkbDGLYIc6q8d2XiePGT" /> -->


        <!-- <service -->
        <!-- android:name="com.baidu.location.f" -->
        <!-- android:enabled="true" -->
        <!-- android:process=":remote"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.baidu.location.service_v2.2"></action> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".ui.ShowImageActivity"
            android:label="@string/title_activity_show_image" >
        </activity>
        <activity
            android:name=".ui.map.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".ui.map.RouteActivity"
            android:label="@string/title_activity_road_line_planning" >
        </activity>
    </application>

</manifest>
